body {
    background-image:url("../images/patterns/diamond_upholstery.png");
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.squareCell {
    width: 50px;
    /*height: 100px;*/
}