@{
    ViewBag.Title = "Home Page";
}


<div class="section">
    <div class="container">
        <br />
        <h1 class="subheader center orange-text">Welcome to Project Tranquility!</h1>
        <div class="row center">
            <h5 class="subheader col s12 light">Working with Materialize for the first time!</h5>
        </div>
        <div class="row center">
            <a target="_blank" href="https://github.com/tranquiliza/Project_Tranquility" class="btn-large waves-effect waves-light orange">Visit our Github page!</a>
        </div>
    </div>
</div>