@{
    ViewBag.Title = "Home Page";
}


<div class="section">
    <div class="container">
        <br />
        <h1 class="subheader center orange-text">Welcome to Project Tranquility!</h1>
        <div class="row center">
            <h5 class="subheader col s12 light">A clean interface for the users!</h5>
        </div>
        <div class="row center">
            <p class="flow-text">So welcome, to this new project. As you can see a lot of features are still missing and currently in active development!
            So unfortunately, some things might be broken or missing, but fear not! We have most of it under control! </p>
            <p class="flow-text">If you have questions or issues, feel free to e-mail the developer at <a>daniel.olsen.server@gmail.com</a></p>
            <p class="flow-text">If you would like to report an issue or inquire for a new feature, you can do so, using the button just below. This button will take you to our project management site
            where you can open issues which the developers can see and manage.</p>
        </div>
        <div class="row center">
            <a target="_blank" href="https://github.com/tranquiliza/Project_Tranquility/issues" class="btn-large waves-effect waves-light orange">Visit our Github page!</a>
        </div>
    </div>
</div>