@using MVC5.Models.Authentication;
@model LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Login Thanks :D</h2>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    @*This needs to be redesigned manually, it shows the HiddenInput in the form.*@
    <p>
        <input type="submit" value="Log In" />
    </p>
}