@{
    ViewBag.Title = "Confirm Email";
}

<div class="section">
    <h4>@ViewBag.Title</h4>
    <div class="row">
        <div class="col s12">
            <p class="flow-text">Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>
